body {
    background-color: #121212;
}
#prompt {
    background-color: #181818;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    border-radius: 10px;
    
}
.items {
    position: relative;
    left: 22.5%;
    width: 50%;
    padding: 2%;
}
#input-email {
    margin-top: 10%;
}
#input-password {
    margin-top: 2%;
}
#button {
    width: 54.5%;
    margin-top: 5%;
}
